/* Custom styles */
header {
    margin-bottom: 50px;
}

.container {
    text-align: center;
}

.card {
    margin-bottom: 30px;
}


.acer {
    width: 500px;
    height: 500px;
}

.xiaomi {
    width: 500px;
    height: 500px;
}